:root {
  /* Lacivert Arka Plan */
  --primary-blue: #001f3f;
  --light-blue: #004080;
  --dark-blue: #000a12;

  /* Gelirler (Yeşil) */
  --primary-green: #2ecc40;
  --light-green: #a3e4a5;
  --dark-green: #1e7a24;

  /* Giderler (Kırmızı) */
  --primary-red: #ff4136;
  --light-red: #ffa69e;
  --dark-red: #991f15;

  /* Tamamlayıcı Renkler */
  --white: #ffffff;
  --gray: #aaaaaa;
  --orange: #ff851b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
}

/* ! NAVBAR  */

.navbar {
  background-color: var(--light-blue);
}

.logo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.btn-login {
  background-color: var(--orange);
  color: var(--white);
}

.btn-login:hover,
.btn-login:active {
  background-color: var(--orange) !important;
  color: var(--white) !important;
}
